<h1>Home Page</h1>

<h2>Reviews</h2>

<%= render partial: "reviews/all_reviews_list", locals: { reviews: @reviews } %>

<h2>Breweries</h2>

<%= render partial: "breweries/brewery_list", locals: { breweries: @breweries } %>

<h2>Beers</h2>

<%= render partial: "beers/beer_list", locals: { beers: @beers } %>