<h1>Home Page</h1>

<h2>Reviews</h2>

<%# <%= render partial: "reviews", locals: { reviews: @reviews } %> %>

<h2>Breweries</h2>

<%# <%= render partial: "breweries", locals: { breweries: @breweries } %> %>

<h2>Beers</h2>

<%# <%= render partial: "beers", locals: { beers: @beers } %> %>