<div class="card">
    <h3>Name: <%= beer.name %></h3>
    <p>Style: <%= beer.style %></p>
    <p>ABV: <%= beer.abv %></p>
    <p>Brewery: <%= link_to beer.brewery.name, beer.brewery.website %></p>
</div>