<h1>Beer Profile</h1>

<%= render partial: "beer_info", locals: { beer: @beer } %>

<%= render partial: "reviews/review_list", locals: { beer: @beer } %>

<%= button_to "Add Review", new_beer_review_path(@beer), method: "get" %>

<%= button_to "Edit Beer", edit_brewery_beer_path, method: "get" %>