nav {
    background: #eee;
    margin: 0;
    padding: 0;
    overflow: none;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
}

nav a {
    display: block;
    color: #333;
    padding: 16px;
    text-decoration: none;
}

nav a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }