<h1>Review of <%= link_to @review.beer.name, brewery_beer_path(@review.beer.brewery, @review.beer) %></h1>

<%= render partial: "review_info", locals: { review: @review } %>

<%= button_to "Destroy", beer_review_path, method: "delete" %>